.portfolio-list {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }

  &__item {

    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
        
    &:hover .portfolio-list__img-overlay,
    &:focus .portfolio-list__img-overlay {
      transform: translateY(0);
    }

    &:hover,
    &:focus {
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
      0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
    }

    @media screen and (max-width: 767px) {
      &:not(:last-child) {
        margin-bottom: 30px;
      }
    }

    @media screen and (min-width: 768px) {
      display: flex;
      flex-direction: column;
      width: calc((100% - 60px)/2);
      margin: 15px;
    }

    @media screen and (min-width: 1200px) {
      width: calc((100% - 90px)/3);
    }
  }

  &__link:focus .portfolio-list__img-overlay {
    transform: translateY(0);
  }

  &__img-wrapper {
    position: relative;
    overflow: hidden;
  }

  &__img-overlay {
    position: absolute;
    top: 0;
    left: 0;

    @extend %flex-center;
    width: 100%;
    height: 100%;
    transform: translateY(101%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    padding: 0 24px;

    font-size: 18px;
    line-height: 1.56;
    color: $contrast-text-color;
    background-color: rgba(33, 150, 243, 0.9);

    @media screen and (max-width: 399px) {
      font-size: 14px;
    }
  }

  &__description-wrapper {
    padding: 20px 24px;
    border: 1px solid #eeeeee;
    border-top: none;
    flex-grow: 1;
  }

  &__title {
    margin-bottom: 4px;

    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
  }

  &__project-description {
    font-size: 16px;
    line-height: 1.87;
  }
}