$primary-text-color: #757575;
$contrast-text-color: #ffffff;
$title-text-color: #212121;
$footer-text-color: rgba(255, 255, 255, 0.6);
$primary-icon-text-color: #afb1b8;
$accent-btn-bgc: #188ce8;
$accent-text-color: #2196f3;
$primary-bgc: #ffffff;
$secondary-bgc: #f5f4fa;
$contrast-bgc: #2f303a;
$accent-bgc: #2196f3;
